*{
  box-sizing: border-box
}

.bar{
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  background: rgba(10, 10, 10, 0.342);
  position: absolute;
  z-index: 2;
}

.burger{
  margin-right: 2%;
  font-weight: bolder;
  font-size: 2.5rem;
  color: white;
}

.logo{
  position: relative;
  top: 0%;
  height: 100%;
  width: 6%;
}