.ContactContainer{
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.backGif{
  height: 70vh;
  position: absolute;
}

.InfoContainer{
  height: 70%;
  width: 30%;
  background: rgba(0, 0, 0, 0.767);
  position: relative;
  left: 35%;
  top: 15%;
  color: white;
} 

.Cont{
  /* font-family: "brandon-grotesque", sans-serif; */
  font-family: 'Orbitron', sans-serif;
  font-size: 200%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.Info{
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  font-size: 120%;
}

.Indicator{
  font-family: 'Orbitron', sans-serif;
  margin-right: 2%;
}

.information{
  font-family: "brandon-grotesque", sans-serif;
  font-size: 110%;
}

.social{
  height: 7vh;
  margin-top: 80%;
}

.social1{
  height: 9vh;
  margin-top: 65%;
}

@media(max-width: 414px){
  .InfoContainer{
   height: 70%;
   width: 90%;
   background: rgba(0, 0, 0, 0.767);
   position: relative;
   left: 5%;
   top: 15%;
  }

  .Cont{
   font-size: 150%;
 }
 .Info{
   font-size: 100%;
 }
}